body {
    font-size: 20px; font-family: "Arimo", sans-serif !important;
    line-height: 1.8;
    color: navy;
    /*padding-top: 0px !important;*/
  }

p {font-size: 18px; font-family: "Arimo", sans-serif !important; color: black;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  padding-bottom: 70px;
}

h1{

}